#
# pin constraints
#
#
# additional constraints
#

NET "CLK" TNM_NET = sys_clk_pin;
TIMESPEC TS_sys_clk_pin = PERIOD sys_clk_pin 50000 kHz;



NET RESET LOC = "AE24"  |  IOSTANDARD = "LVCMOS33"  |  TIG;

NET CLK_N LOC = "AF14"  |  IOSTANDARD = "LVDS_33";
NET CLK_P LOC = "AD14"  |  IOSTANDARD = "LVDS_33";

## battle city controler

NET battle_city_periph_0_clk_24MHz_i_pin             LOC = m21 | IOSTANDARD = LVTTL;
NET battle_city_periph_0_rst_in_pin         LOC = AE24 | IOSTANDARD = LVCMOS33; # AKA UI_JOY2

NET battle_city_periph_0_clk_24MHz_i_pin TNM_NET = clk_24MHz_i;
TIMESPEC TS_CLK = PERIOD clk_24MHz_i 37.037 ns HIGH 50 %;

NET battle_city_periph_0_blank_on_pin       LOC = B16  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_v_sync_on_pin      LOC = A22  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_h_sync_on_pin      LOC = B22  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_vga_clk_o_pin      LOC = C14  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_pow_save_on_pin    LOC = A2   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_sync_on_pin        LOC = A17  | IOSTANDARD = LVTTL;

NET battle_city_periph_0_red_o_pin(0)          LOC = B4   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_red_o_pin(1)          LOC = A4   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_red_o_pin(2)          LOC = A5   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_red_o_pin(3)          LOC = B6   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_red_o_pin(4)          LOC = A6   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_red_o_pin(5)          LOC = A7   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_red_o_pin(6)          LOC = B8   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_red_o_pin(7)          LOC = A8   | IOSTANDARD = LVTTL;

NET battle_city_periph_0_green_o_pin(0)        LOC = A9   | IOSTANDARD = LVTTL;
NET battle_city_periph_0_green_o_pin(1)        LOC = A11  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_green_o_pin(2)        LOC = B12  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_green_o_pin(3)        LOC = A12  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_green_o_pin(4)        LOC = N17  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_green_o_pin(5)        LOC = A13  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_green_o_pin(6)        LOC = N18  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_green_o_pin(7)        LOC = A16  | IOSTANDARD = LVTTL;

NET battle_city_periph_0_blue_o_pin(0)         LOC = A18  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_blue_o_pin(1)         LOC = B18  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_blue_o_pin(2)         LOC = L17  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_blue_o_pin(3)         LOC = M18  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_blue_o_pin(4)         LOC = C18  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_blue_o_pin(5)         LOC = K18  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_blue_o_pin(6)         LOC = C19  | IOSTANDARD = LVTTL;
NET battle_city_periph_0_blue_o_pin(7)         LOC = C20  | IOSTANDARD = LVTTL;

NET io_periph_GPIO_IO_I_pin(0)                 LOC = AC24 | IOSTANDARD = LVTTL;
NET io_periph_GPIO_IO_I_pin(1)                 LOC = AC23 | IOSTANDARD = LVTTL;
NET io_periph_GPIO_IO_I_pin(2)                 LOC = AB24 | IOSTANDARD = LVTTL;
NET io_periph_GPIO_IO_I_pin(3)                 LOC = AA24 | IOSTANDARD = LVTTL;
NET io_periph_GPIO_IO_I_pin(4)                 LOC = AA23 | IOSTANDARD = LVTTL;

